body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
p {
    font-style: italic;
    Color: red;
}
h1 {
    text-align: center;
    color: lime;
    word-spacing: 1px;
    border: inset 4px blue;
}
